.header-container {
  height: 90px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-container nav {
  display: flex;
  align-items: center;
  width: 88%;
}

.logo {
  width: 200px;
  height: 65px;
}
