.concept-main-container {
  margin-bottom: 50px;
}

.concept-main-container h1 {
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 5px;
}

.sub-concepts {
  /* margin-top: 25px; */
  margin-bottom: 50px;
}
